@import "tailwindcss";
@config "../../tailwind.config.ts";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", system-ui, sans-serif;
  font-variant-numeric: tabular-nums;
}
