@tailwind base;
@tailwind components;
@tailwind utilities;

/* オリジナルのスタイル設定を必要に応じて残します */
@layer base {

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  :root {
    font-family: "Cascadia Mono", "BIZ UDGothic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

/* 必要なカスタムスタイルは@layerディレクティブ内に記述することをお勧めします */
@layer components {
  /* カスタムコンポーネントスタイルはここに記述できます */
}