@model SingleViewModel;
@{
    ViewData["Title"] = Model.PageTitle;
}

<h1>@Model.PageTitle</h1>

<form>
    <input type="hidden" asp-for="AggregateID" />
    <input type="hidden" asp-for="PageTitle" />

    <partial name="_Instance" model="(Model.AggregateID, Model.Instance)" />

    <button asp-action="UpdateInstance">更新</button>
</form>
