
@model HalApplicationBuilder.Runtime.Instance<HalApplicationBuilderSampleMvc.Models.上場企業資本情報>;


<div class="container">
    <div class="form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                自己資本比率
            </label>
            <div class="col-sm-10">
                <input asp-for="Item.自己資本比率"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                利益率
            </label>
            <div class="col-sm-10">
                <input asp-for="Item.利益率"/>
            </div>
        </div>
    </div>
</div>

