
@model HalApplicationBuilderSampleMvc.Models.会社;


<div class="container">
    <div class="form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                会社ID
            </label>
            <div class="col-sm-10">
                <input asp-for="会社ID"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                会社名
            </label>
            <div class="col-sm-10">
                <input asp-for="会社名"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                連絡先
            </label>
            <div class="col-sm-10">
                
<div class="container">
    <div class="form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                電話番号
            </label>
            <div class="col-sm-10">
                <input asp-for="連絡先.電話番号"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                郵便番号
            </label>
            <div class="col-sm-10">
                <input asp-for="連絡先.郵便番号"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                住所1
            </label>
            <div class="col-sm-10">
                <input asp-for="連絡先.住所1"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                住所2
            </label>
            <div class="col-sm-10">
                <input asp-for="連絡先.住所2"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                住所3
            </label>
            <div class="col-sm-10">
                <input asp-for="連絡先.住所3"/>
            </div>
        </div>
    </div>
</div>

            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                資本情報
            </label>
            <div class="col-sm-10">
                

<div>
    <label>
        <input type="radio" asp-for="資本情報" value="0" />
        上場企業資本情報
    </label>
    
<div class="container">
    <div class="form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                自己資本比率
            </label>
            <div class="col-sm-10">
                <input asp-for="資本情報__上場企業資本情報.自己資本比率"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                利益率
            </label>
            <div class="col-sm-10">
                <input asp-for="資本情報__上場企業資本情報.利益率"/>
            </div>
        </div>
    </div>
</div>

</div>

<div>
    <label>
        <input type="radio" asp-for="資本情報" value="1" />
        非上場企業資本情報
    </label>
    
<div class="container">
    <div class="form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                主要株主
            </label>
            <div class="col-sm-10">
                <input asp-for="資本情報__非上場企業資本情報.主要株主"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                安定性
            </label>
            <div class="col-sm-10">
                <input asp-for="資本情報__非上場企業資本情報.安定性"/>
            </div>
        </div>
    </div>
</div>

</div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                営業所
            </label>
            <div class="col-sm-10">
                
@for (var i = 0; i < Model.営業所.Count; i++) {
    <partial name="_営業所__Partial.cshtml" for="営業所[i]" />
}

            </div>
        </div>
    </div>
</div>

