
@model HalApplicationBuilder.Runtime.Instance<HalApplicationBuilderSampleMvc.Models.営業所>;


<div class="container">
    <div class="form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                営業所名
            </label>
            <div class="col-sm-10">
                <input asp-for="Item.営業所名"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                支店
            </label>
            <div class="col-sm-10">
                
@for (var j = 0; j < Model.Item.支店.Count; j++) {
    <partial name="_支店__Partial.cshtml" for="Item.支店[j]" />
}

<input
    type="button"
    value="追加"
    class="halapp-add-child"
    halapp-aggregate-tree-path="会社.営業所.支店" />
    
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                担当者
            </label>
            <div class="col-sm-10">
                
<div>
    <input type="hidden" asp-for="Item.担当者.InstanceKey" />
    <input asp-for="Item.担当者.InstanceName" />
</div>

            </div>
        </div>
    </div>
</div>

