
@model HalApplicationBuilderSampleMvc.Models.営業所;

<div class="halapp-aggregate-container">
    @if (Model.__halapp__.IsRoot == false) {
        <input type="button" value="削除" class="halapp-remove-button" />
    }

    
<div class="container">
    <div class="form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                営業所名
            </label>
            <div class="col-sm-10">
                <input asp-for="営業所名"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                支店
            </label>
            <div class="col-sm-10">
                
@for (var i = 0; i < Model.支店.Count; i++) {
    <partial name="_支店__Partial.cshtml" for="支店[i]" />
}

<input
    type="button"
    value="追加"
    class="halapp-add-child"
    halapp-aggregate-tree-path="会社.営業所.支店"
    halapp-aggregate-model-path="支店" />

            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                担当者
            </label>
            <div class="col-sm-10">
                
<div>
    <input type="hidden" asp-for="担当者.InstanceKey" />
    <input asp-for="担当者.InstanceName" />
</div>

            </div>
        </div>
    </div>
</div>


    <input type="hidden" asp-for="__halapp__.Removed" class="halapp-removed" />
</div>