
@model HalApplicationBuilderSampleMvc.Models.営業所;

<div class="halapp-aggregate-container">
    @if (Model.halapp_fields.IsRoot == false) {
        <input type="button" value="削除" class="halapp-remove-button halapp-btn-secondary" />
    }

    
<div class="flex flex-col">

    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            営業所名
        </label>
        <div class="flex-1">
        
            <input asp-for="営業所名" class="border" />


        </div>
    </div>
    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            支店
        </label>
        <div class="flex-1">
        
            @for (var i = 0; i < Model.支店.Count; i++) {
                <partial name="_支店__Partial.cshtml" for="支店[i]" />
            }
            <input
                type="button"
                value="追加"
                class="halapp-add-child halapp-btn-secondary"
                halapp-aggregate-tree-path="会社.営業所.支店"
                halapp-aggregate-model-path="支店" />
                

        </div>
    </div>
    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            担当者
        </label>
        <div class="flex-1">
        
            <div>
                <input type="hidden" asp-for="担当者.InstanceKey" class="halapp-autocomplete-value" />
                <input type="hidden" asp-for="担当者.AggreageteGuid" class="halapp-aggregate-guid" />
                <input asp-for="担当者.InstanceName" class="border halapp-autocomplete" />
            </div>


        </div>
    </div>

</div>


    <input type="hidden" asp-for="halapp_fields.IsRoot" class="" />
    <input type="hidden" asp-for="halapp_fields.Removed" class="halapp-removed" />
</div>