
@model HalApplicationBuilderSampleMvc.Models.売上;

<div class="halapp-aggregate-container">
    @if (Model.halapp_fields.IsRoot == false) {
        <input type="button" value="削除" class="halapp-remove-button halapp-btn-secondary" />
    }

    
<div class="flex flex-col">

    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            ID
        </label>
        <div class="flex-1">
        
            <input asp-for="ID" class="border" />


        </div>
    </div>
    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            売上日時
        </label>
        <div class="flex-1">
        
            <input asp-for="売上日時" class="border" />


        </div>
    </div>
    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            明細
        </label>
        <div class="flex-1">
        
            @for (var i = 0; i < Model.明細.Count; i++) {
                <partial name="_売上明細__Partial.cshtml" for="明細[i]" />
            }
            <input
                type="button"
                value="追加"
                class="halapp-add-child halapp-btn-secondary"
                halapp-aggregate-tree-path="売上.明細"
                halapp-aggregate-model-path="明細" />
                

        </div>
    </div>

</div>


    <input type="hidden" asp-for="halapp_fields.IsRoot" class="" />
    <input type="hidden" asp-for="halapp_fields.Removed" class="halapp-removed" />
</div>