
@model HalApplicationBuilderSampleMvc.Models.売上明細;

<div class="halapp-aggregate-container">
    @if (Model.halapp_fields.IsRoot == false) {
        <input type="button" value="削除" class="halapp-remove-button halapp-btn-secondary" />
    }

    
<div class="flex flex-col">

    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            商品
        </label>
        <div class="flex-1">
        
            <div>
                <input type="hidden" asp-for="商品.InstanceKey" class="halapp-autocomplete-value" />
                <input type="hidden" asp-for="商品.AggreageteGuid" class="halapp-aggregate-guid" />
                <input asp-for="商品.InstanceName" class="border halapp-autocomplete" />
            </div>


        </div>
    </div>
    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            数量
        </label>
        <div class="flex-1">
        
            <input asp-for="数量" class="border" />


        </div>
    </div>

</div>


    <input type="hidden" asp-for="halapp_fields.IsRoot" class="" />
    <input type="hidden" asp-for="halapp_fields.Removed" class="halapp-removed" />
</div>