
@model HalApplicationBuilderSampleMvc.Models.担当者;

<div class="halapp-aggregate-container">
    @if (Model.__halapp__.IsRoot == false) {
        <input type="button" value="削除" class="halapp-remove-button" />
    }

    
<div class="card container">
    <div class="card-body form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                ユーザーID
            </label>
            <div class="col-sm-10">
                <input asp-for="ユーザーID"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                氏名
            </label>
            <div class="col-sm-10">
                <input asp-for="氏名"/>
            </div>
        </div>
    </div>
</div>


    <input type="hidden" asp-for="__halapp__.Removed" class="halapp-removed" />
</div>