
@model HalApplicationBuilderSampleMvc.Models.支店;

<div class="halapp-aggregate-container">
    @if (Model.__halapp__.IsRoot == false) {
        <input type="button" value="削除" class="halapp-remove-button halapp-btn-secondary" />
    }

    
<div class="flex flex-col">

    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            支店名
        </label>
        <div class="flex-1">
        
            <input asp-for="支店名" class="border" />


        </div>
    </div>

</div>


    <input type="hidden" asp-for="__halapp__.Removed" class="halapp-removed" />
</div>