
@model HalApplicationBuilder.Runtime.AspNetMvc.SingleView.Model<HalApplicationBuilderSampleMvc.Models.営業所>;
@{
    ViewData["Title"] = $"{@Model.InstanceName}";
}

<h1>
    @Model.InstanceName
</h1>

<form>
    
<div class="container">
    <div class="form-horizontal">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                営業所ID
            </label>
            <div class="col-sm-10">
                <input asp-for="Item.営業所ID"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                営業所名
            </label>
            <div class="col-sm-10">
                <input asp-for="Item.営業所名"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
                運用開始日
            </label>
            <div class="col-sm-10">
                <input asp-for="Item.運用開始日"/>
            </div>
        </div>
    </div>
</div>
    <button asp-action="Update">更新</button>
    <button asp-action="Delete">削除</button>
</form>
