
@model HalApplicationBuilder.AspNetMvc.MultiView.Model<HalApplicationBuilderSampleMvc.Models.売上__SearchCondition, HalApplicationBuilderSampleMvc.Models.売上__SearchResult>;
@{
    ViewData["Title"] = "売上";
}

<div class="flex gap-3 items-center">
    <h1 class="font-bold text-[18px] select-none">
        売上
    </h1>
    <a asp-action="New" class="halapp-btn-link">新規作成</a>
</div>

<form>
    @* 検索条件欄 *@
    <div class="border mt-2 p-2">
        
<div class="flex flex-col">

    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            ID
        </label>
        <div class="flex-1">
        

            <input asp-for="SearchCondition.ID" class="border" />
            
        

        </div>
    </div>
    <div class="flex flex-col md:flex-row mb-1">
    
        <label class="w-32 select-none">
            売上日時
        </label>
        <div class="flex-1">
        

            <input asp-for="SearchCondition.売上日時.From" class="border" />
            〜
            <input asp-for="SearchCondition.売上日時.To" class="border" />
            
        

        </div>
    </div>

</div>

        <button asp-action="Search" class="halapp-btn-primary">検索</button>
        <button asp-action="Clear" class="halapp-btn-secondary">クリア</button>
    </div>
    
    @* 検索結果欄 *@
    <div class="mt-2">
        <div style="display: flex; justify-content: flex-end">
        </div>
        <table class="table table-sm text-left w-full border">
            <thead class="border-b">
                <tr>
                    <th></th>
                    <th>
                        ID
                    </th>
                    <th>
                        売上日時
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.SearchResult.Count; i++)
                {
                    <tr>
                        <td>
                            <a asp-action="Detail"
                               asp-route-id="@Model.SearchResult[i].__halapp__InstanceKey"
                               class="halapp-btn-link">
                                詳細
                            </a>
                        </td>
                        <td>
                            @Model.SearchResult[i].ID
                        </td>
                        <td>
                            @Model.SearchResult[i].売上日時
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

