
@model HalApplicationBuilder.AspNetMvc.SingleView.Model<HalApplicationBuilderSampleMvc.Models.担当者>;
@{
    ViewData["Title"] = $"{@Model.InstanceName}";
}

<h1 class="font-bold text-[18px] select-none">
    @Model.InstanceName
    <asp type="hidden" asp-for="InstanceName" />
</h1>

<div asp-validation-summary="All" class="mt-2 text-xs text-red-600 dark:text-red-400"></div>

<form id="halapp-single-view-form" class="mt-2">
    <partial name="_担当者__Partial.cshtml" for="Item" />
    <div id="halapp-single-view-form-footer">
        <button asp-action="Update" formmethod="post" class="halapp-btn-primary">更新</button>
        <button asp-action="Delete" formmethod="post" class="halapp-btn-secondary">削除</button>
    </div>
</form>
