
@model HalApplicationBuilder.AspNetMvc.MultiView.Model<HalApplicationBuilderSampleMvc.Models.担当者__SearchCondition, HalApplicationBuilderSampleMvc.Models.担当者__SearchResult>;
@{
    ViewData["Title"] = "担当者";
}

<h1 class="font-bold text-[18px] select-none">
    担当者
</h1>

<form>
    @* 検索条件欄 *@
    <div class="mt-2">
        
<div class="border border-gray-300 rounded-lg flex flex-col p-2">
    <div class="flex flex-col md:flex-row mb-1">
        <label class="w-32 select-none">
            ユーザーID
        </label>
        <div class="flex-1">
            
<input asp-for="SearchCondition.ユーザーID" />



        </div>
    </div>
    <div class="flex flex-col md:flex-row mb-1">
        <label class="w-32 select-none">
            氏名
        </label>
        <div class="flex-1">
            
<input asp-for="SearchCondition.氏名" />



        </div>
    </div>
</div>

        <button asp-action="Clear" class="halapp-btn-secondary">クリア</button>
        <button asp-action="Search" class="halapp-btn-primary">検索</button>
    </div>
    
    @* 検索結果欄 *@
    <div class="mt-2">
        <div style="display: flex; justify-content: flex-end">
            <a asp-action="New" class="halapp-btn-link">新規作成</a>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        ユーザーID
                    </th>
                    <th>
                        氏名
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.SearchResult.Count; i++)
                {
                    <tr>
                        <td>
                            <a asp-action="Detail" class="halapp-btn-link">詳細</a>
                        </td>
                        <td>
                            @Model.SearchResult[i].ユーザーID
                        </td>
                        <td>
                            @Model.SearchResult[i].氏名
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

