
@model HalApplicationBuilder.AspNetMvc.SingleView.Model<HalApplicationBuilderSampleMvc.Models.担当者>;
@{
    ViewData["Title"] = $"{@Model.InstanceName}";
}

<h1>
    @Model.InstanceName
    <asp type="hidden" asp-for="InstanceName" />
</h1>

<form id="halapp-single-view-form">
    <partial name="_担当者__Partial.cshtml" for="Item" />
    <div id="halapp-single-view-form-footer">
        <button asp-action="Update" formmethod="post">更新</button>
        <button asp-action="Delete" formmethod="post">削除</button>
    </div>
</form>
